# Human-First AI
H1st >= 2020.8

# Django and related
Django >= 3.1.4
Django-Extensions >= 3.1.0
Django-Model-Utils >= 4.1.1
Django-Polymorphic >= 3.0.0
Django-Silk >= 4.1.0
Django-Storages >= 1.10.1

# ASGI Servers
Daphne >= 3.0.1
Hypercorn >= 0.11.1
Uvicorn >= 0.13.1
HTTPTools >= 0.1.1
    # required by Uvicorn
Uvloop >= 0.14.0
    # required by Uvicorn

# Database Connectors/Drivers
MySQLClient >= 2.0.2
PsycoPG2-binary >= 2.8.6

# Other
GitPython >= 3.1.11
Ruamel.YAML >= 0.16.12

# AWS Elastic Beanstalk
AWSEBCLI >= 3.19.2
