# Human-First AI
H1st >= 2020.8

# Django and related
Django >= 3.1.4
Django-Polymorphic >= 3.0.0
Django-Storages >= 1.10.1

# ASGI Servers
Daphne >= 3.0.1
Hypercorn >= 0.11.1
Uvicorn >= 0.12.3
Uvloop >= 0.14.0
    # required by Uvicorn

# Database Connectors/Drivers
PsycoPG2-binary >= 2.8.6

# Other
GitPython >= 3.1.11
Ruamel.YAML >= 0.16.12

# AWS Elastic Beanstalk
AWSEBCLI >= 3.19.2
