commands:
  # https://forums.aws.amazon.com/thread.jspa?messageID=874779
  # https://stackoverflow.com/questions/28369235/can-i-update-amazons-old-versions-of-pip-and-setuptools/42477724
  00_install_upgrade_pip_setuptools:
    command: './python3 -m pip install PIP SetupTools --upgrade'
    cwd: /opt/python/run/venv/bin
    ignoreErrors: false

container_commands:
  01_migrate:
    command: "python3 manage.py migrate"
    leader_only: true

  02_collect_static:
    command: "python3 manage.py collectstatic --clear --no-input"

  03_wsgi_pass_authorization_on:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  
  99_chmod_log_file:
    command: chmod 777 /tmp/django.log
    ignoreErrors: false

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: settings

  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi.py

  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: _static_files/

packages:
  yum:
    git: []
    postgresql96-devel: []
